<div class="py-24 px-10 bg-gray-100 rounded-lg shadow-lg">
    <h2 class="text-3xl font-extrabold text-center mb-6 text-primary">
        ¿Quiénes Somos?
    </h2>
    <p class="text-center text-gray-700 mb-8 text-lg leading-relaxed max-w-3xl mx-auto">
        Ponemos a tu disposición a nuestro equipo de profesionales para atender tus requerimientos, dudas o consultas las 24 horas, los 365 días.
    </p>

    <div class="flex flex-wrap justify-center gap-6 mb-8">
        <!-- Servicio 1 -->
        <div class="text-center p-6 m-2 bg-gradient-to-r from-primary to-blue-950 rounded-lg shadow-lg transition-transform duration-500 transform hover:scale-105 hover:shadow-xl hover:bg-gray-700 h-40 w-40">
            <i class="fas fa-tools fa-2x mb-3 text-white"></i>
            <h3 class="text-lg font-light text-white">Reparación</h3>
        </div>
        <!-- Servicio 2 -->
        <div class="service text-center p-6 m-2 bg-gradient-to-r from-primary to-blue-950 rounded-lg shadow-lg transition-transform duration-500 transform hover:scale-105 hover:shadow-xl hover:bg-gray-700 h-40 w-40">
            <i class="fas fa-fan fa-2x mb-3 text-white"></i>
            <h3 class="text-lg font-light text-white">Ventilación</h3>
        </div>
        <!-- Servicio 3 -->
        <div class="service text-center p-6 m-2 bg-gradient-to-r from-primary to-blue-950 rounded-lg shadow-lg transition-transform duration-500 transform hover:scale-105 hover:shadow-xl hover:bg-gray-700 h-40 w-40">
            <i class="fas fa-snowflake fa-2x mb-3 text-white"></i>
            <h3 class="text-lg font-light text-white">Refrigeración</h3>
        </div>
        <!-- Servicio 4 -->
        <div class="service text-center p-6 m-2 bg-gradient-to-r from-primary to-blue-950 rounded-lg shadow-lg transition-transform duration-500 transform hover:scale-105 hover:shadow-xl hover:bg-gray-700 h-40 w-40">
            <i class="fas fa-cog fa-2x mb-3 text-white"></i>
            <h3 class="text-lg font-semibold text-white">Instalación</h3>
        </div>
        <!-- Servicio 5 -->
        <div class="service text-center p-6 m-2 bg-gradient-to-r from-primary to-blue-950 rounded-lg shadow-lg transition-transform duration-500 transform hover:scale-105 hover:shadow-xl hover:bg-gray-700 h-40 w-40">
            <i class="fas fa-tools fa-2x mb-3 text-white"></i>
            <h3 class="text-lg font-semibold text-white">Mantenimiento</h3>
        </div>
    </div>

    <div class="text-center">
        <a href="/about" class="inline-block bg-gradient-to-r from-primary to-blue-950 text-white font-semibold px-8 py-4 rounded-lg shadow-lg transition duration-300 transform hover:bg-blue-700 hover:scale-110">
            Conócenos
        </a>
    </div>
</div>
