<section class="py-20">
    <div class="container mx-auto flex flex-col md:flex-row items-center md:space-x-10">
        <!-- Imagen a la izquierda en pantallas grandes y abajo en pantallas pequeñas -->
        <div class="w-full md:w-1/2 p-4 flex justify-center">
            <img src="/images/about.png" alt="Imagen de Frael Sistema" class="rounded-lg shadow-lg transition-transform duration-300 hover:scale-105 w-full max-w-lg">
        </div>
        <!-- Texto a la derecha en pantallas grandes y arriba en pantallas pequeñas -->
        <div class="w-full md:w-1/2 p-4 flex flex-col justify-center">
            <h2 class="text-3xl font-bold text-gray-900 mb-4 text-center md:text-left">
                No hay mejor recompensa que ganarnos su referencia
            </h2>
            <p class="text-gray-700 mb-4 leading-relaxed text-center md:text-left">
                Somos Frael Sistema, una empresa dedicada a la comercialización de equipos de cómputo y accesorios tecnológicos. Contamos con una extensa variedad de productos y servicios de calidad, adaptándonos a las necesidades de nuestros clientes para brindarles confianza.
            </p>
            <p class="text-gray-700 leading-relaxed text-center md:text-left">
                Nuestro objetivo es ofrecerles la mejor experiencia en cada una de sus compras, brindándoles una atención excepcional de inicio a fin.
            </p>
        </div>
    </div>
</section>
<section class="py-20 bg-gray-100">
    <div class="container mx-auto text-center">
        <h2 class="text-3xl font-bold text-gray-900 mb-12">Nuestra <br> Misión y Visión</h2>
        <div class="flex flex-col md:flex-row justify-around space-y-10 gap-5 md:space-y-0">
            <!-- Misión -->
            <div class="w-full md:w-1/2 p-4 bg-gray-200 rounded-lg shadow-md transition-transform duration-300 hover:scale-105">
                <h3 class="text-2xl font-semibold text-gray-800 mb-4">Misión</h3>
                <p class="text-gray-700 leading-relaxed">
                    Poner a disposición de todos nuestros clientes lo último en innovación y tecnología con productos y servicios de calidad y garantía.
                </p>
            </div>
            <!-- Visión -->
            <div class="w-full md:w-1/2 p-4 bg-gray-200 rounded-lg shadow-md transition-transform duration-300 hover:scale-105">
                <h3 class="text-2xl font-semibold text-gray-800 mb-4">Visión</h3>
                <p class="text-gray-700 leading-relaxed">
                    Ser líderes en el mercado peruano y tener la preferencia del público, al otorgarles los mejores productos del rubro tecnológico y un servicio de alta calidad.
                </p>
            </div>
        </div>
    </div>
</section>
