<div class="py-24 px-10 bg-gray-100 rounded-lg shadow-lg">
    <h2 class="text-3xl font-extrabold text-center mb-6 text-primary">
        ¿Qué Hacemos?
    </h2>
    <p class="text-center text-gray-700 mb-8 text-lg leading-relaxed max-w-3xl mx-auto">
        En Frael Sistemas ponemos a tu disposición nuestro equipo de profesionales para atender tus requerimientos, dudas o consultas las 24 horas y los 365 días.
    </p>

    <div class="flex flex-wrap justify-center gap-6 mb-8">
        <!-- Servicio 1 -->
        <div class="flex flex-col justify-center items-center text-center p-6 bg-gradient-to-r from-primary to-blue-950 rounded-lg shadow-lg transition-transform duration-300 transform hover:scale-105 hover:shadow-xl hover:bg-gray-800 w-48 h-48 group">
            <i class="fas fa-tools fa-2x mb-3 text-white group-hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.8)]"></i>
            <h3 class="text-lg font-semibold text-white">Reparación</h3>
        </div>
        <!-- Servicio 2 -->
        <div class="flex flex-col justify-center items-center text-center p-6 bg-gradient-to-r from-primary to-blue-950 rounded-lg shadow-lg transition-transform duration-300 transform hover:scale-105 hover:shadow-xl hover:bg-gray-800 w-48 h-48 group">
            <i class="fas fa-fan fa-2x mb-3 text-white group-hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.8)]"></i>
            <h3 class="text-lg font-semibold text-white">Ventilación</h3>
        </div>
        <!-- Servicio 3 -->
        <div class="flex flex-col justify-center items-center text-center p-6 bg-gradient-to-r from-primary to-blue-950 rounded-lg shadow-lg transition-transform duration-300 transform hover:scale-105 hover:shadow-xl hover:bg-gray-800 w-48 h-48 group">
            <i class="fas fa-snowflake fa-2x mb-3 text-white group-hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.8)]"></i>
            <h3 class="text-lg font-semibold text-white">Refrigeración</h3>
        </div>
        <!-- Servicio 4 -->
        <div class="flex flex-col justify-center items-center text-center p-6 bg-gradient-to-r from-primary to-blue-950 rounded-lg shadow-lg transition-transform duration-300 transform hover:scale-105 hover:shadow-xl hover:bg-gray-800 w-48 h-48 group">
            <i class="fas fa-cog fa-2x mb-3 text-white group-hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.8)]"></i>
            <h3 class="text-lg font-semibold text-white">Instalación</h3>
        </div>
        <!-- Servicio 5 -->
        <div class="flex flex-col justify-center items-center text-center p-6 bg-gradient-to-r from-primary to-blue-950 rounded-lg shadow-lg transition-transform duration-300 transform hover:scale-105 hover:shadow-xl hover:bg-gray-800 w-48 h-48 group">
            <i class="fas fa-tools fa-2x mb-3 text-white group-hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.8)]"></i>
            <h3 class="text-lg font-semibold text-white">Mantenimiento</h3>
        </div>
    </div>

    <div class="text-center mb-6">
        <a href="/services" class="inline-flex items-center justify-center w-48 bg-gradient-to-r from-primary to-blue-950 text-white font-semibold px-8 py-4 rounded-lg shadow-lg transition duration-500 hover:bg-blue-700 hover:scale-105">
            Conoce más
        </a>
    </div>
</div>