<div class="services-section p-9 bg-gradient-to-br from-gray-50 to-gray-300 text-primary">
    <h2 class="text-4xl font-bold text-center mb-12">Nuestros Servicios Especializados</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-3">
        <!-- Servicio 1 -->
        <div class="bg-gray-100 transition-all duration-300 p-6 rounded-lg border-2 border-primary border-opacity-30">
            <img src="/images/aire-acondicionado.png" alt="Aire Acondicionado" class="h-20 mx-auto mb-6">
            <h3 class="text-xl text-center font-semibold mb-2">Aire Acondicionado</h3>
            <p class="text-sm text-center opacity-75">Instalación y mantenimiento de sistemas de aire acondicionado para hogares y empresas.</p>
        </div>
        <!-- Servicio 2 -->
        <div class="bg-gray-100 transition-all duration-300 p-8 rounded-lg border-2 border-primary border-opacity-30">
            <img src="/images/camaras-de-video.png" alt="Cámaras de Vídeo" class="h-20 mx-auto mb-6">
            <h3 class="text-xl text-center font-semibold mb-2">Cámaras de Vídeo</h3>
            <p class="text-sm text-center opacity-75">Soluciones de videovigilancia para seguridad en distintos entornos.</p>
        </div>
        <!-- Servicio 3 -->
        <div class="bg-gray-100 transition-all duration-300 p-8 rounded-lg border-2 border-primary border-opacity-30">
            <img src="/images/sistemas-de-ventilacion.png" alt="Sistemas de Ventilación" class="h-20 mx-auto mb-6">
            <h3 class="text-xl text-center font-semibold mb-2">Sistemas de Ventilación</h3>
            <p class="text-sm text-center opacity-75">Instalación de sistemas eficientes de ventilación para cualquier espacio.</p>
        </div>
        <!-- Servicio 4 -->
        <div class="bg-gray-100 transition-all duration-300 p-8 rounded-lg border-2 border-primary border-opacity-30">
            <img src="/images/iluminaria.png" alt="Iluminaria" class="h-20 mx-auto mb-6">
            <h3 class="text-xl text-center font-semibold mb-2">Iluminaria</h3>
            <p class="text-sm text-center opacity-75">Sistemas de iluminación modernos y eficientes para interiores y exteriores.</p>
        </div>
    </div>
</div>