---

---
<div id="top-header" class="bg-white text-gray-800 py-2 border-b">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col sm:flex-row justify-between items-center space-y-2 sm:space-y-0">
        <div class="text-sm text-center sm:text-left flex flex-col sm:flex-row sm:space-x-4">
            <span>Atención al Cliente:</span>
            <span>(+51) 990 957 761 | 938 517 530</span>
        </div>
        <div class="flex justify-center sm:justify-end space-x-4">
            <a href="" class="hover:text-blue-600">
                <i class="fa-brands fa-facebook-f fa-lg"></i>
            </a>
            <a href="" class="hover:text-pink-600">
                <i class="fa-brands fa-instagram fa-lg"></i>
            </a>
            <a href="" class="hover:text-blue-700">
                <i class="fa-brands fa-linkedin-in fa-lg"></i>
            </a>
            <a href="" class="hover:text-blue-400">
                <i class="fa-brands fa-telegram fa-lg"></i>
            </a>
        </div>
    </div>
</div>