---
interface Props {
	title: string;
}

const { title } = Astro.props;

import '@fortawesome/fontawesome-free/css/all.min.css';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<a href="https://wa.me/1234567890" target="_blank" class="fixed bottom-4 right-4 bg-green-500 text-white p-3 rounded-full shadow-lg hover:bg-green-600 transition-transform transform hover:scale-110">
			<i class="fab fa-whatsapp fa-2x"></i>
		</a>
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #ffffff;
	}
</style>
<script src="/scripts/scriptCustom.js" defer></script>
<script src="/scripts/customers.js" defer></script>